.grid {
  display: grid;

  width: 300px;
}

.grid > * {
  margin-bottom: 1rem;
}

.accordion {
  color: rgb(22, 2, 2);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: #333;
  color: white;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: rgb(105, 100, 100);
  color: black;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #eee;
  display: none;
  overflow: hidden;
}
